.photo-content {
  margin: auto;
  height: 36rem;
  border-radius: .2rem;
  background: white;
  display: grid;
  grid-template-columns: 36rem 20rem;
  grid-template-rows: auto 1fr auto;
  opacity: 0;
  overflow: hidden;
  transform: scale(0.8);
  animation: scaleUp 0.1s forwards;


  .author {
    opacity: 0.5;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


  
  }
}

.photo-single.photo-content {
  grid-template-columns: 1fr;
  height: auto;

  .author {
    opacity: 0.5;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

.photo-details {
  padding: 1rem 0px 0px 0px;
}


  }
  .photo-details {
    padding: 1rem;
  }

  .img {
    grid-row: 1;
    border-radius: 0.4rem;
    overflow: hidden;
  }

}

.author a:hover{
  text-decoration: underline;

}

@keyframes scaleUp{
  to {
    opacity: 1;
    transform: initial;
  }
}

.photo-details {
  padding: 2rem 2rem 0 2rem;
}

.photo-content-img {
  grid-row: 1 / 4;
}

@media (max-width: 64rem) {
  .photo-content {
    height: auto;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    grid-template-columns: minmax(20rem, 40rem);
  }
  .photo-content-img {
    grid-row: 1;
  }

}
.visualizacoes::before{
  content:'';
  width: 16px;
  display: inline-block;
  height: 10px;
  margin-right: .5rem;
  background: url('../Assets/visualizacao-black.svg') no-repeat;
}

.attributes {
  display: flex;
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;

  li {
    margin-right: 2rem;
    &::before{
      content: '';
      display: inline-block;
      height: 20px;
      margin-right: .5rem;
      position: relative;
      top: 3px;
      width: 2px;
      background: #333;
    }
  }


}
